/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

body {
  background: #F8F5F3;
}

h1 {
  font-weight: bold;
  font-size: 66px;
  color: #474343;
}

h2 {
  font-weight: bold;
  font-size: 50px;
  color: #474343;
}

h3 {
  font-size: 30px;
  color: #474343;
}

p {
  font-size: 16px;
  color: #474343;
}
