/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

body {
  background: #F8F5F3;
}

h1 {
  font-weight: bold;
  font-size: 66px;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}


