html {
   overflow-x: hidden;
   position: relative;
}
.contain-main {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.header-div {
  display: flex;
  flex-direction: column;
  // place-content: flex-start space-between;
  align-items: flex-start;
}

.home-text {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem
}

.header {
  width: 312px;
  margin: 14rem 7rem 4rem 7rem;
}

.bio {
  width: 465px;
  margin-left: 7rem;
  color: #474343;
}

.all-boxes2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
  margin-top: 138px;
  position: absolute;
  right: -282px;
  top: 12px;

}

.back-box2 {
  // width: 890px;
  width: 60em;
  height: 60em;
  background: #D5FF9F;
  border-radius: 200px;
  overflow: hidden;
  // position: relative;
  .middle-box2 {
    // width: 805px;
    width: 83%;
    height: 83%;
    border-radius: 175px;
    background: #E0FFB9;
    margin: auto;
    margin-top: 7%;
    position: relative;
    // bottom: 32px;
    // right: 39px;
    .front-box2 {

      width: 72%;
      height: 72%;
      border-radius: 150px;
      background: #EBFFD3;
      margin: auto;
      position: absolute;
      top: 14%;
      right: 14%;

    }
  }
}

.back-box2-small {
  // width: 890px;
  width: 20em;
  height: 20em;
  background: #024150;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 500px;
  opacity: 0.8;
  // position: relative;
  .middle-box2-small {
    // width: 805px;
    width: 83%;
    height: 83%;
    border-radius: 28px;
    background: #0482A1;
    margin: auto;
    margin-top: 7%;
    position: relative;
    // bottom: 32px;
    // right: 39px;
    .front-box2-small {

      width: 72%;
      height: 72%;
      border-radius: 25px;
      background: #05B2DC;
      margin: auto;
      position: absolute;
      top: 14%;
      right: 14%;

    }
  }
}

.middle {
  width: 100vw;
  text-align: center;
  h2 {
    margin-left: 58vw;
    margin-top: -2px;
    // position: -webkit-sticky;
    // position: sticky;
    // top: 14rem;
  }
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}






