html {
   overflow-x: hidden;
   position: relative;
}
.contain-main {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.header-div {
  display: flex;
  flex-direction: column;
  // place-content: flex-start space-between;
  align-items: flex-start;
}

.header {
  width: 312px;
  margin: 2em 1em 2em 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 10rem;
}

.all-boxes2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
  margin-top: 138px;
  position: absolute;
  right: -120px;
  top: 150px;

}

.back-box2 {
  // width: 890px;
  width: 60vw;
  height: 80vh;
  background: #D5FF9F;
  border-radius: 200px;
  overflow: hidden;
  // position: relative;
  .middle-box2 {
    // width: 805px;
    width: 83%;
    height: 83%;
    border-radius: 175px;
    background: #E0FFB9;
    margin: auto;
    margin-top: 7%;
    position: relative;
    // bottom: 32px;
    // right: 39px;
    .front-box2 {

      width: 72%;
      height: 72%;
      border-radius: 150px;
      background: #EBFFD3;
      margin: auto;
      position: absolute;
      top: 14%;
      right: 14%;

    }
  }
}

.back-box2-small {
  // width: 890px;
  width: 20vw;
  height: 20vh;
  background: #D5FF9F;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 500px;
  // position: relative;
  .middle-box2-small {
    // width: 805px;
    width: 83%;
    height: 83%;
    border-radius: 28px;
    background: #E0FFB9;
    margin: auto;
    margin-top: 7%;
    position: relative;
    // bottom: 32px;
    // right: 39px;
    .front-box2-small {

      width: 72%;
      height: 72%;
      border-radius: 25px;
      background: #EBFFD3;
      margin: auto;
      position: absolute;
      top: 14%;
      right: 14%;

    }
  }
}






