<div class="footer">
  <h2>Contact Me</h2>
  <p>Don't hesitate to contact me through one of the channels below</p>
  <br>
  <br>
  <br>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/gregsmithdev/" target="_blank"> <i class="fa fa-linkedin"></i></a>
    <a href="https://dribbble.com/Greg--Smith" target="_blank"> <i class="fa fa-dribbble"></i></a>
    <a href="mailto:gregmsmith.dev@gmail.com" target="_blank"> <i class="fa fa-envelope"></i></a>
    <a href="https://github.com/GregSmith92" target="_blank"> <i class="fa fa-github-alt"></i></a>





  </div>
</div>
