<div class="contain-main">
  <div class="header-div">
    <div class= "home-text">
      <h1 class="header">Designer. Developer. Creator.</h1>
      <h3 class="bio">Hi, I’m Greg. I like to code and design things. My aim is to give people fun, engaging experiences when using what I’ve built.</h3>
    </div>
    <div id="back-box2-small" class="back-box2-small">
      <div class="middle-box2-small">
        <div class="front-box2-small">
        </div>
      </div>
    </div>
  </div>
  <div class="all-boxes2">
    <div id="back-box2" class="back-box2">
      <div class="middle-box2">
        <div class="front-box2">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="middle">
  <h2 class="project-header">Projects</h2>
</div>
<div class="card-container">
  <div class="cards">

  </div>
  <div class="cards">

  </div>
</div>
