<div class="contain-main">
  <div>
    <h1 class="header">Designer. Developer. Creator.</h1>
  </div>
  <div class="all-boxes">
    <div id="back-box" class="back-box">
      <div class="middle-box">
        <div class="front-box">
        </div>
      </div>
    </div>
  </div>
</div>
